body {
    background-color: #202124;
    color: white;
}

#btn {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 250px;
}

#btn button {
    background-color: transparent;
    border: 0px;
}

img {
    display: block;
    width: 250px;
    height: auto;
    margin: 25px;
}

.overlay {
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #55aaff;
  }

.container {
    position: relative;

}

.container:hover .overlay {
    opacity: 0.8;
}


.text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}